<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>updated</key>
	<date>2017-06-28T00:39:34Z</date>
	<key>coins</key>
	<array>
		<dict>
			<key>coin</key>
			<string>BTC</string>
			<key>name</key>
			<string>Bitcoin</string>
			<key>mark</key>
			<string>\u{e9a7}</string>
		</dict>
	</array>
</dict>
</plist>
