<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>updated</key>
	<date>2017-08-21T07:00:00Z</date>
	<key>markets</key>
	<dict>
		<key>Korbit</key>
		<dict>
			<key>tag</key>
			<integer>1</integer>
			<key>currency</key>
			<string>KRW</string>
			<key>api</key>
			<dict>
				<key>url</key>
				<string>https://api.korbit.co.kr/v1/ticker?currency_pair=</string>
				<key>first</key>
				<string></string>
				<key>last</key>
				<string>last</string>
				<key>change</key>
				<string></string>
			</dict>
			<key>isCombination</key>
			<false/>
			<key>isBtcMarket</key>
			<false/>
		</dict>
		<key>Bithumb</key>
		<dict>
			<key>tag</key>
			<integer>2</integer>
			<key>currency</key>
			<string>KRW</string>
			<key>api</key>
			<dict>
				<key>url</key>
				<string>https://api.bithumb.com/public/ticker/</string>
				<key>first</key>
				<string>data.opening_price</string>
				<key>last</key>
				<string>data.closing_price</string>
				<key>change</key>
				<string></string>
			</dict>
			<key>isCombination</key>
			<false/>
			<key>isBtcMarket</key>
			<false/>
		</dict>
		<key>Coinone</key>
		<dict>
			<key>tag</key>
			<integer>3</integer>
			<key>currency</key>
			<string>KRW</string>
			<key>api</key>
			<dict>
				<key>url</key>
				<string>https://api.coinone.co.kr/ticker/?currency=</string>
				<key>first</key>
				<string>first</string>
				<key>last</key>
				<string>last</string>
				<key>change</key>
				<string></string>
			</dict>
			<key>isCombination</key>
			<false/>
			<key>isBtcMarket</key>
			<false/>
		</dict>
		<key>Poloniex</key>
		<dict>
			<key>tag</key>
			<integer>10</integer>
			<key>currency</key>
			<string>USD</string>
			<key>api</key>
			<dict>
				<key>url</key>
				<string>https://poloniex.com/public?command=returnTicker</string>
				<key>first</key>
				<string></string>
				<key>last</key>
				<string>last</string>
				<key>change</key>
				<string>percentChange</string>
			</dict>
			<key>isCombination</key>
			<true/>
			<key>isBtcMarket</key>
			<true/>
		</dict>
		<key>Bittrex</key>
		<dict>
			<key>tag</key>
			<integer>11</integer>
			<key>currency</key>
			<string>USD</string>
			<key>api</key>
			<dict>
				<key>url</key>
				<string>https://bittrex.com/api/v1.1/public/getmarketsummary?market=</string>
				<key>first</key>
				<string>result.0.PrevDay</string>
				<key>last</key>
				<string>result.0.Last</string>
				<key>change</key>
				<string></string>
			</dict>
			<key>isCombination</key>
			<false/>
			<key>isBtcMarket</key>
			<true/>
		</dict>
		<key>Gdax</key>
		<dict>
			<key>display</key>
			<string>GDAX/coinbase</string>
			<key>tag</key>
			<integer>12</integer>
			<key>currency</key>
			<string>USD</string>
			<key>api</key>
			<dict>
				<key>url</key>
				<string>https://api.gdax.com/products/</string>
				<key>first</key>
				<string></string>
				<key>last</key>
				<string>price</string>
				<key>change</key>
				<string></string>
			</dict>
			<key>isCombination</key>
			<false/>
			<key>isBtcMarket</key>
			<false/>
		</dict>
		<key>Kraken</key>
		<dict>
			<key>tag</key>
			<integer>13</integer>
			<key>currency</key>
			<string>USD</string>
			<key>api</key>
			<dict>
				<key>url</key>
				<string>https://api.kraken.com/0/public/Ticker?pair=</string>
				<key>first</key>
				<string>result.*.o</string>
				<key>last</key>
				<string>result.*.c.0</string>
				<key>change</key>
				<string></string>
			</dict>
			<key>isCombination</key>
			<false/>
			<key>isBtcMarket</key>
			<false/>
		</dict>
		<key>Bitfinex</key>
		<dict>
			<key>tag</key>
			<integer>14</integer>
			<key>currency</key>
			<string>USD</string>
			<key>api</key>
			<dict>
				<key>url</key>
				<string>https://api.bitfinex.com/v1/pubticker/</string>
				<key>first</key>
				<string></string>
				<key>last</key>
				<string>last_price</string>
				<key>change</key>
				<string></string>
			</dict>
			<key>isCombination</key>
			<false/>
			<key>isBtcMarket</key>
			<true/>
		</dict>
		<key>Coincheck</key>
		<dict>
			<key>tag</key>
			<integer>20</integer>
			<key>currency</key>
			<string>JPY</string>
			<key>api</key>
			<dict>
				<key>url</key>
				<string>https://coincheck.com/api/rate/</string>
				<key>first</key>
				<string></string>
				<key>last</key>
				<string>rate</string>
				<key>change</key>
				<string></string>
			</dict>
			<key>isCombination</key>
			<false/>
			<key>isBtcMarket</key>
			<true/>
		</dict>
		<key>Bitflyer</key>
		<dict>
			<key>tag</key>
			<integer>21</integer>
			<key>currency</key>
			<string>JPY</string>
			<key>api</key>
			<dict>
				<key>url</key>
				<string>https://api.bitflyer.jp/v1/ticker/?product_code=</string>
				<key>first</key>
				<string></string>
				<key>last</key>
				<string>ltp</string>
				<key>change</key>
				<string></string>
			</dict>
			<key>isCombination</key>
			<false/>
			<key>isBtcMarket</key>
			<true/>
		</dict>
		<key>Okcoin</key>
		<dict>
			<key>tag</key>
			<integer>30</integer>
			<key>currency</key>
			<string>CNY</string>
			<key>api</key>
			<dict>
				<key>url</key>
				<string>https://www.okcoin.cn/api/v1/ticker.do?symbol=</string>
				<key>first</key>
				<string></string>
				<key>last</key>
				<string>ticker.last</string>
				<key>change</key>
				<string></string>
			</dict>
			<key>isCombination</key>
			<false/>
			<key>isBtcMarket</key>
			<false/>
		</dict>
		<key>Bitstamp</key>
		<dict>
			<key>tag</key>
			<integer>31</integer>
			<key>currency</key>
			<string>USD</string>
			<key>api</key>
			<dict>
				<key>url</key>
				<string>https://www.bitstamp.net/api/v2/ticker/</string>
				<key>first</key>
				<string>open</string>
				<key>last</key>
				<string>last</string>
				<key>change</key>
				<string></string>
			</dict>
			<key>isCombination</key>
			<false/>
			<key>isBtcMarket</key>
			<true/>
		</dict>
	</dict>
	<key>coins</key>
	<dict>
		<key>BTC</key>
		<dict>
			<key>tag</key>
			<integer>1</integer>
			<key>name</key>
			<string>Bitcoin</string>
			<key>mark</key>
			<string>E022</string>
			<key>marketParams</key>
			<dict>
				<key>Korbit</key>
				<string>btc_krw</string>
				<key>Bithumb</key>
				<string>btc</string>
				<key>Coinone</key>
				<string>btc</string>
				<key>Poloniex</key>
				<string>USDT_BTC</string>
				<key>Bittrex</key>
				<string>USDT-BTC</string>
				<key>Gdax</key>
				<string>BTC-USD/ticker</string>
				<key>Kraken</key>
				<string>XBTUSD</string>
				<key>Bitfinex</key>
				<string>btcusd</string>
				<key>Coincheck</key>
				<string>btc_jpy</string>
				<key>Bitflyer</key>
				<string>BTC_JPY</string>
				<key>Okcoin</key>
				<string>btc_cny</string>
				<key>Bitstamp</key>
				<string>btcusd</string>
			</dict>
		</dict>
		<key>ETH</key>
		<dict>
			<key>tag</key>
			<integer>2</integer>
			<key>name</key>
			<string>Ethereum</string>
			<key>mark</key>
			<string>E041</string>
			<key>marketParams</key>
			<dict>
				<key>Korbit</key>
				<string>eth_krw</string>
				<key>Bithumb</key>
				<string>eth</string>
				<key>Coinone</key>
				<string>eth</string>
				<key>Poloniex</key>
				<string>BTC_ETH</string>
				<key>Bittrex</key>
				<string>BTC-ETH</string>
				<key>Gdax</key>
				<string>ETH-USD/ticker</string>
				<key>Kraken</key>
				<string>ETHUSD</string>
				<key>Bitfinex</key>
				<string>ethbtc</string>
				<key>Coincheck</key>
				<string>eth_btc</string>
				<key>Bitflyer</key>
				<string>ETH_BTC</string>
				<key>Okcoin</key>
				<string>eth_cny</string>
				<key>Bitstamp</key>
				<string>ethbtc</string>
			</dict>
		</dict>
		<key>ETC</key>
		<dict>
			<key>tag</key>
			<integer>3</integer>
			<key>name</key>
			<string>Ethereum Classic</string>
			<key>mark</key>
			<string>E03F</string>
			<key>marketParams</key>
			<dict>
				<key>Korbit</key>
				<string>etc_krw</string>
				<key>Bithumb</key>
				<string>etc</string>
				<key>Coinone</key>
				<string>etc</string>
				<key>Poloniex</key>
				<string>BTC_ETC</string>
				<key>Bittrex</key>
				<string>BTC-ETC</string>
				<key>Kraken</key>
				<string>ETCUSD</string>
				<key>Bitfinex</key>
				<string>etcbtc</string>
				<key>Coincheck</key>
				<string>etc_btc</string>
			</dict>
		</dict>
		<key>XRP</key>
		<dict>
			<key>tag</key>
			<integer>4</integer>
			<key>name</key>
			<string>Ripple</string>
			<key>mark</key>
			<string>E0F1</string>
			<key>marketParams</key>
			<dict>
				<key>Bithumb</key>
				<string>xrp</string>
				<key>Coinone</key>
				<string>xrp</string>
				<key>Poloniex</key>
				<string>BTC_XRP</string>
				<key>Bittrex</key>
				<string>BTC-XRP</string>
				<key>Kraken</key>
				<string>XRPUSD</string>
				<key>Bitfinex</key>
				<string>xrpbtc</string>
				<key>Coincheck</key>
				<string>xrp_btc</string>
				<key>Bitstamp</key>
				<string>xrpbtc</string>
			</dict>
		</dict>
		<key>STRAT</key>
		<dict>
			<key>tag</key>
			<integer>5</integer>
			<key>name</key>
			<string>Stratis</string>
			<key>mark</key>
			<string>E0C9</string>
			<key>marketParams</key>
			<dict>
				<key>Poloniex</key>
				<string>BTC_STRAT</string>
				<key>Bittrex</key>
				<string>BTC-STRAT</string>
			</dict>
		</dict>
		<key>DGB</key>
		<dict>
			<key>tag</key>
			<integer>6</integer>
			<key>name</key>
			<string>DigiByte</string>
			<key>mark</key>
			<string>E033</string>
			<key>marketParams</key>
			<dict>
				<key>Poloniex</key>
				<string>BTC_DGB</string>
				<key>Bittrex</key>
				<string>BTC-DGB</string>
			</dict>
		</dict>
		<key>SC</key>
		<dict>
			<key>tag</key>
			<integer>7</integer>
			<key>name</key>
			<string>Siacoin</string>
			<key>mark</key>
			<string>E0B9</string>
			<key>marketParams</key>
			<dict>
				<key>Poloniex</key>
				<string>BTC_SC</string>
				<key>Bittrex</key>
				<string>BTC-SC</string>
			</dict>
		</dict>
		<key>XMR</key>
		<dict>
			<key>tag</key>
			<integer>8</integer>
			<key>name</key>
			<string>Monero</string>
			<key>mark</key>
			<string>E0EE</string>
			<key>marketParams</key>
			<dict>
				<key>Poloniex</key>
				<string>BTC_XMR</string>
				<key>Bittrex</key>
				<string>BTC-XMR</string>
				<key>Kraken</key>
				<string>XMRUSD</string>
				<key>Bitfinex</key>
				<string>xmrbtc</string>
				<key>Coincheck</key>
				<string>xmr_btc</string>
			</dict>
		</dict>
		<key>ZEC</key>
		<dict>
			<key>tag</key>
			<integer>9</integer>
			<key>name</key>
			<string>Zcash</string>
			<key>mark</key>
			<string>E0F8</string>
			<key>marketParams</key>
			<dict>
				<key>Poloniex</key>
				<string>BTC_ZEC</string>
				<key>Bittrex</key>
				<string>BTC-ZEC</string>
				<key>Kraken</key>
				<string>ZECUSD</string>
				<key>Bitfinex</key>
				<string>zecbtc</string>
				<key>Coincheck</key>
				<string>zec_btc</string>
			</dict>
		</dict>
		<key>LTC</key>
		<dict>
			<key>tag</key>
			<integer>10</integer>
			<key>name</key>
			<string>Litecoin</string>
			<key>mark</key>
			<string>E074</string>
			<key>marketParams</key>
			<dict>
				<key>Bithumb</key>
				<string>ltc</string>
				<key>Poloniex</key>
				<string>BTC_LTC</string>
				<key>Bittrex</key>
				<string>BTC-LTC</string>
				<key>Gdax</key>
				<string>LTC-USD/ticker</string>
				<key>Kraken</key>
				<string>LTCUSD</string>
				<key>Coincheck</key>
				<string>ltc_btc</string>
				<key>Okcoin</key>
				<string>ltc_cny</string>
				<key>Bitstamp</key>
				<string>ltcbtc</string>
			</dict>
		</dict>
		<key>DASH</key>
		<dict>
			<key>tag</key>
			<integer>11</integer>
			<key>name</key>
			<string>Dash</string>
			<key>mark</key>
			<string>E02E</string>
			<key>marketParams</key>
			<dict>
				<key>Bithumb</key>
				<string>dash</string>
				<key>Poloniex</key>
				<string>BTC_DASH</string>
				<key>Bittrex</key>
				<string>BTC-DASH</string>
				<key>Kraken</key>
				<string>DASHUSD</string>
				<key>Bitfinex</key>
				<string>dshbtc</string>
				<key>Coincheck</key>
				<string>dash_btc</string>
			</dict>
		</dict>
		<key>STR</key>
		<dict>
			<key>tag</key>
			<integer>12</integer>
			<key>name</key>
			<string>Stellar</string>
			<key>mark</key>
			<string>E0C6</string>
			<key>marketParams</key>
			<dict>
				<key>Poloniex</key>
				<string>BTC_STR</string>
			</dict>
		</dict>
		<key>XEM</key>
		<dict>
			<key>tag</key>
			<integer>13</integer>
			<key>name</key>
			<string>NEM</string>
			<key>mark</key>
			<string>E0EC</string>
			<key>marketParams</key>
			<dict>
				<key>Poloniex</key>
				<string>BTC_XEM</string>
				<key>Bittrex</key>
				<string>BTC-XEM</string>
				<key>Coincheck</key>
				<string>xem_btc</string>
			</dict>
		</dict>
		<key>STEEM</key>
		<dict>
			<key>tag</key>
			<integer>14</integer>
			<key>name</key>
			<string>Steem</string>
			<key>mark</key>
			<string>E0C5</string>
			<key>marketParams</key>
			<dict>
				<key>Poloniex</key>
				<string>BTC_STEEM</string>
				<key>Bittrex</key>
				<string>BTC-STEEM</string>
			</dict>
		</dict>
		<key>LSK</key>
		<dict>
			<key>tag</key>
			<integer>15</integer>
			<key>name</key>
			<string>Lisk</string>
			<key>mark</key>
			<string>E073</string>
			<key>marketParams</key>
			<dict>
				<key>Poloniex</key>
				<string>BTC_LSK</string>
				<key>Bittrex</key>
				<string>BTC-LSK</string>
				<key>Coincheck</key>
				<string>lsk_btc</string>
			</dict>
		</dict>
		<key>FCT</key>
		<dict>
			<key>tag</key>
			<integer>16</integer>
			<key>name</key>
			<string>Factom</string>
			<key>mark</key>
			<string>E045</string>
			<key>marketParams</key>
			<dict>
				<key>Poloniex</key>
				<string>BTC_FCT</string>
				<key>Bittrex</key>
				<string>BTC-FCT</string>
				<key>Coincheck</key>
				<string>fct_btc</string>
			</dict>
		</dict>
		<key>MIOTA</key>
		<dict>
			<key>tag</key>
			<integer>17</integer>
			<key>name</key>
			<string>IOTA</string>
			<key>mark</key>
			<string>E066</string>
			<key>marketParams</key>
			<dict>
				<key>Bitfinex</key>
				<string>iotbtc</string>
			</dict>
		</dict>
		<key>BTS</key>
		<dict>
			<key>tag</key>
			<integer>18</integer>
			<key>name</key>
			<string>BitShares</string>
			<key>mark</key>
			<string>E026</string>
			<key>marketParams</key>
			<dict>
				<key>Poloniex</key>
				<string>BTC_BTS</string>
				<key>Bittrex</key>
				<string>BTC-BTS</string>
			</dict>
		</dict>
		<key>BCN</key>
		<dict>
			<key>tag</key>
			<integer>19</integer>
			<key>name</key>
			<string>Bytecoin</string>
			<key>mark</key>
			<string>E017</string>
			<key>marketParams</key>
			<dict>
				<key>Poloniex</key>
				<string>BTC_BCN</string>
				<key>Bittrex</key>
				<string>BTC-BCN</string>
			</dict>
		</dict>
		<key>GNT</key>
		<dict>
			<key>tag</key>
			<integer>20</integer>
			<key>name</key>
			<string>Golem</string>
			<key>mark</key>
			<string>E057</string>
			<key>marketParams</key>
			<dict>
				<key>Poloniex</key>
				<string>BTC_GNT</string>
				<key>Bittrex</key>
				<string>BTC-GNT</string>
			</dict>
		</dict>
		<key>DGD</key>
		<dict>
			<key>tag</key>
			<integer>21</integer>
			<key>name</key>
			<string>DigixDAO</string>
			<key>mark</key>
			<string>E034</string>
			<key>marketParams</key>
			<dict>
				<key>Bittrex</key>
				<string>BTC-DGD</string>
			</dict>
		</dict>
		<key>PIVX</key>
		<dict>
			<key>tag</key>
			<integer>22</integer>
			<key>name</key>
			<string>PIVX</string>
			<key>mark</key>
			<string>E09D</string>
			<key>marketParams</key>
			<dict>
				<key>Bittrex</key>
				<string>BTC-PIVX</string>
			</dict>
		</dict>
		<key>WAVES</key>
		<dict>
			<key>tag</key>
			<integer>23</integer>
			<key>name</key>
			<string>Waves</string>
			<key>mark</key>
			<string>E0E5</string>
			<key>marketParams</key>
			<dict>
				<key>Bittrex</key>
				<string>BTC-WAVES</string>
			</dict>
		</dict>
	</dict>
	<key>currencies</key>
	<dict>
		<key>BTC</key>
		<dict>
			<key>tag</key>
			<integer>0</integer>
			<key>mark</key>
			<string>฿</string>
			<key>format</key>
			<string>0.00000000</string>
		</dict>
		<key>USD</key>
		<dict>
			<key>tag</key>
			<integer>1</integer>
			<key>mark</key>
			<string>$</string>
			<key>format</key>
			<string>#,##0.00</string>
		</dict>
		<key>EUR</key>
		<dict>
			<key>tag</key>
			<integer>2</integer>
			<key>mark</key>
			<string>€</string>
			<key>format</key>
			<string>#,##0.00</string>
		</dict>
		<key>KRW</key>
		<dict>
			<key>tag</key>
			<integer>3</integer>
			<key>mark</key>
			<string>₩</string>
			<key>format</key>
			<string>#,###</string>
		</dict>
		<key>CNY</key>
		<dict>
			<key>tag</key>
			<integer>4</integer>
			<key>mark</key>
			<string>¥</string>
			<key>format</key>
			<string>#,##0.0</string>
		</dict>
		<key>JPY</key>
		<dict>
			<key>tag</key>
			<integer>5</integer>
			<key>mark</key>
			<string>¥</string>
			<key>format</key>
			<string>#,###</string>
		</dict>
		<key>GBP</key>
		<dict>
			<key>tag</key>
			<integer>6</integer>
			<key>mark</key>
			<string>£</string>
			<key>format</key>
			<string>#,##0.00</string>
		</dict>
		<key>AUD</key>
		<dict>
			<key>tag</key>
			<integer>7</integer>
			<key>mark</key>
			<string>$</string>
			<key>format</key>
			<string>#,##0.00</string>
		</dict>
		<key>CAD</key>
		<dict>
			<key>tag</key>
			<integer>8</integer>
			<key>mark</key>
			<string>C$</string>
			<key>format</key>
			<string>#,##0.00</string>
		</dict>
		<key>HKD</key>
		<dict>
			<key>tag</key>
			<integer>9</integer>
			<key>mark</key>
			<string>HK$</string>
			<key>format</key>
			<string>#,##0.00</string>
		</dict>
		<key>PHP</key>
		<dict>
			<key>tag</key>
			<integer>10</integer>
			<key>mark</key>
			<string>₱</string>
			<key>format</key>
			<string>#,##0.00</string>
		</dict>
		<key>PLN</key>
		<dict>
			<key>tag</key>
			<integer>11</integer>
			<key>mark</key>
			<string>zł</string>
			<key>format</key>
			<string>#,##0.00</string>
		</dict>
		<key>RUB</key>
		<dict>
			<key>tag</key>
			<integer>12</integer>
			<key>mark</key>
			<string>руб</string>
			<key>format</key>
			<string>#,##0.00</string>
		</dict>
	</dict>
</dict>
</plist>
